# Node
node_modules/
npm-debug.log
yarn-error.log

# Expo
.expo/
dist/
web-build/

# Build artifacts
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig

# Caches
npm-cache/
.npm/
.metro-cache/

# IDE files
.idea/
.vscode/

# OS-specific
.DS_Store